{% extends 'base.html.twig' %}

{% block title %}
     Tell us your stories, tell us your travel ...
{% endblock %}

{% block content %}
<div id="home-bg">
</div>
<div id="home-content">
    <h1>Bring us with you</h1>
    <h2>Tell us your stories, tell us your travel ...</h2>
    <a href="{}" class="btn btn-primary btn-lg">Let's go</a>
</div>
{% endblock %}